doctype html
head
  title Meag Technologies
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='css/main.css')
#page-wrapper
  // Header
  header#header.alt 
    h1
      a(href='index.html') Meag Technologies
        
    nav#nav
      ul
        li
          a(href='index.html') Home
        li
          a.icon.fa-angle-down(href='#') Sections
          ul
            li
              a(href='generic.html') Generic
            li
              a(href='#contact') Contact
            li
              a(href='elements.html') Elements
            li
              a(href='#') Submenu
             
        li
          a.button(href='#services') Services
  // Banner
  section#banner
    h2 Meag Technologies
    p Eltectronic technology solutions
    ul.actions.special
      li
        a.button.primary(href='#services') Services
      li
        a.button(href='#main') Learn More
  // Main
  section#main
     
    section.box.special
   
      header.major
         block content
      span.image.featured
      
      p.about  We are a company of human capital dedicated to the service to our customers, We do not dedicate to the operations and maintenance of electronic equipment

    section.box.special.features
      .features-row
      section#services
         block  Srv_in 
        
      .col-6.col-12-narrower
        
        
  // CTA
  section#cta.box.special
    h2 Sign up for beta access
    p Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.
    form
      .row.gtr-50.gtr-uniform
        .col-8.col-12-mobilep
          input#email(type='email' name='email' placeholder='Email Address')
        .col-4.col-12-mobilep
          input.fit(type='submit' value='Sign Up')
          // Grid row
     


  // Footer
  footer#contact.box
    block pie
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
